* text=auto eol=lf
*.sh text eol=lf
*.py text eol=lf
*.launch text eol=lf
*.world text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.csv text eol=lf
*.json text eol=lf
*.env text eol=lf
*.sdf text eol=lf
*.config text eol=lf
*.mtl text eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.dae binary
*.stl binary
*.obj binary
