<?xml version="1.0"?>
<model>
  <name>f250_wamv_visual</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>OSRF VRX, packaged for F250 maritime simulation</name>
  </author>
  <description>
    Local visual wrapper for the VRX WAM-V mesh used by the F250 maritime Gazebo Classic scene.
  </description>
</model>
