<?xml version="1.0"?>
<model>
  <name>f250_clean_mountain_probe_visual</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>F250 Maritime UAV Sim</name>
  </author>
  <description>
    Opaque procedural visual-only single mountain island probe.
  </description>
</model>
