<?xml version="1.0"?>
<model>
  <name>maritime_mid360_lidar</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>f250_maritime_uav_sim</name>
  </author>
  <description>Standalone Gazebo Mid-360 style LiDAR sensor followed by ROS odometry.</description>
</model>
